.navbar {
    width: 100%;
    height: 3.5rem;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 3px 0 #ffffff;

    .menu-icon {
        font-size: 25px;
        cursor: pointer;
    }

    .menu-elements-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 15px;
    }

    .menu-elements-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu-text {
        color: rgba(255,255,255,0.95);
        opacity: 0.9;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        padding: 10px 15px;
    }

    .menu-text:hover {
        color: rgba(255,255,255,0.60);
    }

    .current-selected {
        text-decoration: underline;
        text-underline-position: under;
    }

    .pling-logo {
        height: 35px;
        width: 65px;
        background-size: 65px 35px !important;
        background: url('../public/pling.svg');
    }

    .pling-logo-container {
        padding-right: 1rem;
        padding-left: 2rem;
    }

    span {
        cursor: pointer;
    }
}

body {
    margin: 0;
    padding-top: 3.5rem;
    background-image: linear-gradient(90deg, #377bcc 0%, #55a2ff 100%);
    font-family: sans-serif;
}
