.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba(#000000, 0.5);

    &__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        padding: 0.9rem;
        background: #ffffff;
        border: 2px solid #000000;
        border-radius: 1000rem;
        font-size: 10px;
    }

    &__content {
        position: relative;
        background-color: #ffffff;
        box-shadow: 0 0 1px rgba(#000000, 0.3), 0 4px 8px rgba(#000000, 0.25);
        border-radius: 3px;
        overflow: hidden;
    }
}

.create_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.create_form_container {
    overflow: scroll;
    height: 30rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
